# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [32]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

# 1

In [2]:
from xml.etree import ElementTree as ET
document = ET.parse( './data/mondial_database.xml' )

In [3]:
import pandas as pd
country = ''
im = []
for element in document.iterfind('country'):
    try:
        # Obtining country name
        a = element.find('name').text + ','
        # Obtining country inf mort count
        b = element.find('infant_mortality').text
    except AttributeError:
        pass
    country += a
    im.append(float(b))
# Creating dataframe with name, i_m rate    
country_df = pd.DataFrame(country.split(','), columns=['country'])
im_df = pd.DataFrame(im, columns=['i_mort'])
frames = [country_df, im_df]
c = pd.concat(frames, axis = 1)

#sorting by lowest i_m values
c.sort_values('i_mort', ascending=True).head(11)

            country  i_mort
38           Monaco    1.81
98            Japan    2.13
36           Norway    2.48
117         Bermuda    2.48
106       Singapore    2.53
37           Sweden    2.60
10   Czech Republic    2.63
78        Hong Kong    2.73
79            Macao    3.13
44          Iceland    3.15
7            France    3.31

# 2

In [4]:
city = ''
pop = []
year = []
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        for populations in subelement.getiterator('population'):
            # Obtaining city name, population count per city, per year
            city_name = subelement.find('name').text + ','
            city += city_name
            population = float(populations.text)
            pop.append(population)         
            pop_year = int(populations.get('year'))
            year.append(pop_year)

# Creating dataframe
city_df = pd.DataFrame(city.split(','), columns = ['city'])
pop_df = pd.DataFrame(pop, columns = ['population'])
year_df = pd.DataFrame(year, columns = ['year'])
frames = [city_df, pop_df, year_df]
print len(pop_df)
print len(city_df)
print len(year_df)
c2 = pd.concat(frames, axis = 1)

# Grouping by city and displaying max population across all years.
c2.groupby(['city']).max().sort_values('population', ascending=False).head(10)

9320
9321
9320

           population    year
city
Shanghai   22315474.0  2010.0
Istanbul   13710512.0  2012.0
Delhi      12877470.0  2011.0
Mumbai     12442373.0  2011.0
Moskva     11979529.0  2013.0
Beijing    11716620.0  2010.0
São Paulo  11152344.0  2010.0
Tianjin    11090314.0  2010.0
Guangzhou  11071424.0  2010.0
Shenzhen   10358381.0  2010.0

# 3

10 ethnic groups with the largest overall populations 
(sum of latest year's estimates over all countries)

latest year's pop count per ethinic group (will have ot multiply pop_count by ethinic groups percentage in that country)

In [11]:
country = ''
group = ''
eth_percent = []

for name in document.iterfind('country'):
    for ethnicgroup in name.getiterator('ethnicgroup'):
        for percentage in ethnicgroup.getiterator('ethnicgroup'):
            # Obtaining percentage of each ethnic group per country. 
            country += name.find('name').text + ','
            group += ethnicgroup.text + ','
            eth_percent.append(float(percentage.get('percentage')))

# Creating dataframe            
country_df = pd.DataFrame(country.split(','), columns = ['country'])
group_df = pd.DataFrame(group.split(','), columns = ['ethnic_group'])
eth_df = pd.DataFrame(eth_percent, columns = ['percent'])
frames = [country_df, group_df, eth_df]
c3 = pd.concat(frames, axis = 1)

# Obtaining percentage of ethnic group, per country 
c3g = c3.groupby(['country','ethnic_group']).max().sort_values('percent')
print len(c3g)
c3g.head()

629

                         percent
country    ethnic_group
Mozambique European         0.06
           Indian           0.08
Slovakia   Polish           0.10
           German           0.10
Ukraine    Jewish           0.20

In [8]:
country = ''
pop = []
year = []

for name in document.iterfind('country'):
    for population in name.getiterator('population'):
        for years in population.getiterator('population'):
            country += name.find('name').text + ','
            pop.append(int(population.text))
            year.append(int(years.get('year')))
            
                    
country_df = pd.DataFrame(country.split(','), columns = ['country'])
year_df = pd.DataFrame(year, columns = ['year'])
pop_df = pd.DataFrame(pop, columns = ['pop_count'])
frames = [country_df, year_df, pop_df]

# Obtaining country's population count from most recent year.
c4 = pd.concat(frames, axis = 1)
c4g = c4.groupby(['country']).max().sort_values('year')

print len(c4g)
c4g.head()

245

                          year  pop_count
country
Pitcairn                1991.0       68.0
Guernsey                2001.0    59807.0
British Virgin Islands  2001.0    23161.0
New Caledonia           2009.0   245580.0
Sierra Leone            2010.0  5751976.0

In [12]:
# Obtaining ethnic group count at most recent year.
joined_df = c3g.join(c4g)
joined_df['eth_count'] = (joined_df['pop_count'] * joined_df['percent'])
print(len(joined_df))
joined_df.head(10)

629

                         percent    year   pop_count   eth_count
country    ethnic_group
Mozambique European         0.06  2012.0  23700715.0   1422042.9
           Indian           0.08  2012.0  23700715.0   1896057.2
Slovakia   Polish           0.10  2011.0   5397036.0    539703.6
           German           0.10  2011.0   5397036.0    539703.6
Ukraine    Jewish           0.20  2012.0  51706742.0  10341348.4
Ghana      European         0.20  2010.0  24658823.0   4931764.6
Morocco    Jewish           0.20  2014.0  32901622.0   6580324.4
Mozambique Euro-African     0.20  2012.0  23700715.0   4740143.0
Bulgaria   Russian          0.20  2012.0   8948649.0   1789729.8
Romania    Turkish          0.20  2011.0  22810035.0   4562007.0

In [640]:
# reseting index
joined_df_reset = joined_df.reset_index()
joined_df_reset.head(10)

      country  ethnic_group  percent    year   pop_count   eth_count
0  Mozambique      European     0.06  2012.0  23700715.0   1422042.9
1  Mozambique        Indian     0.08  2012.0  23700715.0   1896057.2
2    Slovakia        Polish     0.10  2011.0   5397036.0    539703.6
3    Slovakia        German     0.10  2011.0   5397036.0    539703.6
4     Ukraine        Jewish     0.20  2012.0  51706742.0  10341348.4
5       Ghana      European     0.20  2010.0  24658823.0   4931764.6
6     Morocco        Jewish     0.20  2014.0  32901622.0   6580324.4
7  Mozambique  Euro-African     0.20  2012.0  23700715.0   4740143.0
8    Bulgaria       Russian     0.20  2012.0   8948649.0   1789729.8
9     Romania       Turkish     0.20  2011.0  22810035.0   4562007.0

In [638]:
# Total number of people per ethnic group aggregated across all countries.
final_table = joined_df_reset[['ethnic_group', 'eth_count']]
final_table.groupby("ethnic_group").sum().sort_values('eth_count', ascending=False).head(10)

                 eth_count
ethnic_group
Han Chinese   1.245059e+11
Indo-Aryan    8.718156e+10
European      4.949395e+10
African       3.183597e+10
Dravidian     3.027137e+10
Mestizo       1.578553e+10
Bengali       1.467769e+10
Russian       1.368666e+10
Japanese      1.272890e+10
Malay         1.219936e+10

                            ###NOTES###
    
for populations in subelement.getiterator('population'):
            city_name = subelement.find('name').text + ','
            city += city_name
            #print populations.get('ethnicgroup')
            population = float(populations.text)
            pop.append(population)         
            pop_year = int(populations.get('year'))
            year.append(pop_year)
city_df = pd.DataFrame(city.split(','), columns = ['city'])
pop_df = pd.DataFrame(pop, columns = ['population'])
year_df = pd.DataFrame(year, columns = ['year'])
frames = [city_df, pop_df, year_df]
#print len(pop_df)
#print len(city_df)
#print len(year_df)
#c2 = pd.concat(frames, axis = 1)
#c2.groupby(['city']).max().sort_values('population', ascending=False).head(10)

-----------------
country = ''
group = ''
eth_percent = []
pop = []
year = []

for name in document.iterfind('country'):
    #print name.find('name').text + ','
    for population in name.getiterator('population'):
        #pop.append(int(population.text))
        #print population.text
        for years in population.getiterator('population'):
            pop.append(int(population.text))
            year.append(int(years.get('year')))
            #print years.get('year')
    for ethnicgroup in name.getiterator('ethnicgroup'):
        #country += name.find('name').text + ','
        #group += ethnicgroup.text + ','
        #print ethnicgroup.text
        for percentages in ethnicgroup.getiterator('ethnicgroup'):
            country += name.find('name').text + ','
            group += ethnicgroup.text + ','
            #print float(percentages.get('percentage'))
            eth_percent.append(float(percentages.get('percentage')))
country_df = pd.DataFrame(country.split(','), columns = ['country'])
group_df = pd.DataFrame(group.split(','), columns = ['ethnic_group'])
year_df = pd.DataFrame(year, columns = ['year'])
pop_df = pd.DataFrame(pop, columns = ['pop_count'])
eth_df = pd.DataFrame(eth_percent, columns = ['percent'])
#frames = [country_df, group_df]
frames = [group_df, eth_df]

#print group_df
c3 = pd.concat(frames, axis = 1)
#c3

# 4

In [ ]:
name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [ ]:
country = ''
city = ''
river_len = []
lake_size = []
airport_ele = []
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        for populations in subelement.getiterator('population'):
            city_name = subelement.find('name').text + ','
            city += city_name
            population = float(populations.text)
            pop.append(population)         
            pop_year = int(populations.get('year'))
            year.append(pop_year)
city_df = pd.DataFrame(city.split(','), columns = ['city'])
pop_df = pd.DataFrame(pop, columns = ['population'])
year_df = pd.DataFrame(year, columns = ['year'])
frames = [city_df, pop_df, year_df]
print len(pop_df)
print len(city_df)
print len(year_df)
c2 = pd.concat(frames, axis = 1)
c2.groupby(['city']).max().sort_values('population', ascending=False).head(10)